html,body
{
  height: 100%;
  width: 100%;
}

/*
TITLE CSS
*/
#title_wrapper
{
  width:20%;
  padding-left: 2vw;
  margin-right: 0;
}
#title
{
  font-family: 'calibri-light', serif;
  font-size:4rem;
  padding: 2vh 0 2vh 0;
  text-align: center;
}

#searchbar_col
{
  top:60px;
}

#location_input:focus
{
  color: black;
  background-color: #E5E5E5;
  width: 50%;
  border-bottom: solid #E5E5E5 1px;
}
#location_input,#geocode
{
  background-color: transparent;
  border:0;
  outline:none;
  outline-offset: 0;
  transition-property: all;
  transition-duration: .8s;
  transition-timing-function: linear;
}
#location_input
{
  height: 3rem;
  font-size: 2.5rem;
  width: 10%;
  border-bottom: solid black 1px;
}
#geocode
{
  font-size: 2rem;
  padding-top: 0 !important;
}

.wrapper
{
  padding-right: 5vw;
}
.row
{
  margin-right: 0;
}
#info
{
  font-family: 'calibri-light', serif;
}
.underline
{
  margin-left: 3vw;
  margin-bottom:5vh;
  border-bottom: 3px solid black;
  font-size: 4rem;
  display: inline-block;
}
@media screen and  (max-width: 991px)
{
  #title_wrapper
  {
    margin: 0 auto;
  }
  #title
  {
      font-size:100px;
      text-align: left;
      transform: translate(-50%,0);
  }
  #searchbar_col
  {
    text-align: center;
    top: 0;
  }
}
