html,body
{
  height: 100%;
  width: 100%;
}

/*
TITLE CSS
*/
#title_wrapper
{
  padding-left: 2vw;
  margin-right: 0;
}
#title
{
  font-family: 'calibri-light', serif;
  font-size:2.5vw;
  padding: 2vh 0 2vh 0;
  text-align: center;
}

#location_input:focus
{
  color: black;
  background-color: #E5E5E5;
  width: 50%;
  border-bottom: solid #E5E5E5 1px;
}
#location_input,#geocode_button
{
  background-color: transparent;
  border:0;
  outline:none;
  outline-offset: 0;
  transition-property: all;
  transition-duration: .8s;
  transition-timing-function: linear;
}
#location_input
{
  font-size: 2vw;
  width: 10%;
  border-bottom: solid black 1px;
}
#geocode_button
{
  font-size: 1.5rem;
}
.wrapper
{
  padding-right: 5vw;
}
.row
{
  margin-right: 0;
}
#info
{
  font-family: 'calibri-light', serif;
}
.underline
{
  margin-left: 3vw;
  border-bottom: 2px solid black;
   font-size: 3vw;
  display: inline-block;
}

@media screen and  (max-width: 768px)
{
  #title
  {
    font-size: 100px;
  }
  input
  {
    vertical-align: middle;
  }
}
