<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="templates/weeklycss.css">
  </head>
  <style media="screen">


  </style>

  <body>
    <div class="weekly_wrapper">
      <div id="row" class="row">
        <div id="left-col" class="col-md-4">
          <ol class="d-flex align-items-center" id="col-0">

          </ol>
        </div>
        <div id="right-col" class="col-md-8">
          <div id="right-col-top-row" class="row">
            <div class="col-md-4">
              <ol class="d-flex align-items-center" id="col-1">

              </ol>
            </div>
            <div class="col-md-4">
              <ol class="d-flex align-items-center" id="col-2">

              </ol>
            </div>
            <div class="col-md-4">
              <ol class="d-flex align-items-center" id="col-3">

              </ol>
            </div>
          </div>
          <div id="right-col-bottom-row" class="row">
            <div class="col-md-4">
              <ol class="d-flex align-items-center" id="col-4">

              </ol>
            </div>
            <div class="col-md-4">
              <ol class="d-flex align-items-center" id="col-5">

              </ol>
            </div>
            <div class="col-md-4">
              <ol class="d-flex align-items-center" id="col-6">

              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
