<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
 <style media="screen">
 </style>
  <body>
    <div class="weekly_wrapper">
      <div class="row">
        <div class="col-md-6">
        <ol id="col-0">

        </ol>
        </div>
        <div class="col-md-6">
        <div class="row">
          <div class="col-md-4">
            <ol id="col-1">

            </ol>
          </div>
          <div class="col-md-4">
            <ol id="col-2">

            </ol>
          </div>
          <div class="col-md-4">
            <ol id="col-3">

            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <ol id="col-4">

            </ol>
          </div>
          <div class="col-md-4">
            <ol id="col-5">

            </ol>
          </div>
          <div class="col-md-4">
            <ol id="col-6">

            </ol>
          </div>
        </div>
        </div>
    </div>
    </div>
  </body>
</html>
