#results
{
  height: 100%;
}
.weekly_wrapper
{

  padding:5vh 10vw 0 10vw;
}

ol li
{
  list-style-type: none;
}

#right-col-top-row
{
 padding-bottom: 5vh;
}

#day
{
font-size: 3rem;
}

#left-col ,#right-col
{
  height: 300px;
}
.col-md-4 ol
{
background-color: #48dbfb;

}


.wi {
    font-size: 4vh;
    padding-top: 1vh;
}
@media screen and  (max-width: 992px)
{
  #right-col-top-row
  {
    padding-bottom: 0;
  }

  .weekly_wrapper
  {
      padding:0;
  }

  ol li
  {
    padding-left: 0;
    padding-bottom: 2vh;
    display: inline;
  }
}
