#results
{
  height:60%;
  object-position: center;
}
.weekly_wrapper
{
  padding:5vh 5vw 0 5vw;
  height: 100%;
}
ol
{
  border-radius: 25px;
}
/*Text data for each day*/
ol li
{
  list-style-type: none;
  color: white;
  text-shadow: .4px .4px black;
}

ol ul
{
    width: 70%;
    margin: auto;
    padding-left:0 !important;
}

/*Sizing of right column display*/
#right-col,#row , #right-col-top-row div ,#right-col-bottom-row div , #right-col-top-row div ol, #right-col-bottom-row div ol,
#left-col ol , #left-col ul , #row
{
  height:100%;
}
#right-col-top-row
{
 padding-bottom: 1vh;
}
#right-col-bottom-row
{
  padding-top: 1vh;
}
#right-col-top-row,#right-col-bottom-row
{
  height:50%;
}

/*Week day title*/
#day
{
font-size: 4vh;
}

.col-md-4 ol
{
  padding-left: 0;
  text-align: center;

}

/*Search icon*/
.wi::before {
    font-size: 8vh;
    padding-bottom: 1vh;
}

@media screen and  (max-width: 992px)
{
  #right-col-top-row
  {
    padding-bottom: 0;
  }

  .weekly_wrapper
  {
      padding:0;
  }

  ol li
  {
    padding-left: 0;
    padding-bottom: 2vh;
    display: inline;
  }
}
