<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <div class="weekly_wrapper">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <!-- this column empty -->
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
              <ol id="col-0">
              </ol>
            </div>
            <div class="col-md-4">
              <ol id="col-1">
              </ol>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="row">
            <div class="col-md-2">
              <ol id="col-2">
              </ol>
            </div>
            <div class="col-md-2">
              <ol id="col-3">
              </ol>
            </div>
            <div class="col-md-2">
              <ol id="col-4">
              </ol>
            </div>
            <div class="col-md-2">
              <ol id="col-5">
              </ol>
            </div>
            <div class="col-md-2">
              <ol id="col-6">
              </ol>
            </div>
            <!-- this column empty -->
            <div class="col-md-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
